/* .pqr {
    --hover-shadows: 16px 16px 33px #121212
                      -16px -16px 33px #303030;
    --accent: rgb(211, 159, 220);
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    
    border-radius: 20px;
    color: white;
    padding: 1em 2em;
    transition: 
                background-color ease-in-out 0.1s,
                letter-spacing ease-in-out 0.1s,
                border-radius ease-in-out 0.1s,
                transform ease-in-out 0.1s;
    
   }
   
   .pqr:hover {
    box-shadow: var(--hover-shadows);
   }
   
   .pqr:active {
    box-shadow: var(--hover-shadows),
                 var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.75);
   } */
   /* .btn1 {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1F2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
  }
  
  .btn1 {
   
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }
  
  .btn1 {
    
    top: -1px;
  }
  
  .btn1 {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
   
    transform: translate(-50%, -50%);
  }
  
  .btn1:hover .transition {
    width: 14em;
    height: 14em;
  }
  
  .btn1:active {
    transform: scale(0.97);
  } */




  .btn1 {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .btn1:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btn1:hover {
    color: #fff;
   }
   
   .btn1:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn1:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btn1:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

/*    copied from index.html */
hmtl{
    height:100%;
  }
  
  body{
    
    background-image:url(pics/bgmp.jpg);
    width:100%;
    background-size: 100%;
    background-repeat:repeat-y;
    
    
    
    
    
    
    
    background-position:center ;
    
    
}
.btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

/*.btn {
  background: rgb(217, 15, 253);
  box-shadow: 0 0 25px rgb(217, 15, 253);
}

.btn:hover {
  box-shadow: 0 0 5px rgb(217, 15, 253),
              0 0 25px rgb(217, 15, 253),
              0 0 50px rgb(217, 15, 253),
              0 0 100px rgb(217, 15, 253);
}
*/

/* .nav-bar{
    border:2px solid red;
} */
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color:white;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
.inner_body{
    max-width: 90%;
    max-height: 100%;
    /* border:2px solid green; */
    margin: 3em auto auto auto;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
}










/* styles */
.font-white{
    color: white;
}
#a{
    color:white;
    text-decoration:none;
    
}

.nav-bar #a:hover{
    color: aqua;
}
